* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 98vw;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#weather {
  display: flex;
  align-items: center;
  color: #f2ebe9;
}

#weather .first {
  font-size: 33px;
  padding-right: 5px;
  font-weight: 400;
}

#weather .container {
  display: flex;
  flex-direction: column;
}

#main_container {
  flex-grow: 18;
  display: flex;

  justify-content: flex-start;
}

#login_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

#login_form h1 {
  font-size: 36px;
  color: #f2ebe9;
}

#login_form #login_name {
  background: none;
  border: none;
  border-bottom: 3px solid #f2ebe9;
  width: 290px;
  height: 30px;
  text-align: center;
  color: #f2ebe9;
  font-size: 30px;
  margin-bottom: 8px;
}
#main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_form {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_form {
  font-size: 22px;
  font-weight: 600;
}

#main_form h1 {
  font-size: 21px;
  font-weight: bold;
  color: #f2ebe9;
  background-color: rgba(128, 128, 128, 0.25);
}

#main_todo {
  background: none;
  border: none;
  border-bottom: 3px solid #f2ebe9;
  width: 290px;
  height: 30px;
  text-align: center;
  color: #f2ebe9;
  font-size: 30px;
  margin-bottom: 8px;
}

#todo_list li {
  color: rgb(242, 235, 233);
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

#todo_list li button {
  border-radius: 5px;
  margin: 0 5px 0 5px;
  border: none;
  background-color: rgba(242, 235, 233, 0.6);
}

footer {
  flex-grow: 1;
}
